.spinner {
  position: relative;
  display: flex;
  gap: 10px;
  height: 600px;

  & > svg {
    width: 200px;
  }

  svg:nth-child(1) {
    position: absolute;
    top: 100px;
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  svg:nth-child(2) {
    position: absolute;
    top: 175px;
    animation-name: race;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  svg:nth-child(3) {
    position: absolute;
    top: 250px;
    animation-name: race;
    animation-duration: 2.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }

  overflow-x: hidden;
}

@keyframes race {
  from {
    left: 100%;
  }
  to {
    left: -200px;
  }
}
