@import 'styles/styleVariables';

.button {
  background-color: var(--color-red-600);
  border: none;
  color: var(--color-grey-0);
  padding: rem(10) rem(30);

  &:hover {
    background-color: var(--color-red-500);
  }
}
