@function rem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

%header3 {
  font-family: 'Jockey One';
  font-size: rem(30);
  font-weight: 400;
  line-height: rem(28);
  text-align: center;
}

%text {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(20);
}

%button {
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(22);
}
