@import 'styles/styleVariables';

.champions {
  &-list {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;

    &:hover .champions-slide {
      animation-play-state: paused;
    }
  }

  &-slide {
    animation: 40s slide infinite linear;
  }

  &-item {
    width: rem(250);
    text-align: center;
    border: 1px solid var(--color-grey-800);
    background-color: var(--color-grey-800);
    color: var(--color-grey-200);
  }

  &-text {
    padding: rem(5);

    & > h3 {
      @extend %header1;
      line-height: rem(24);
      color: var(--color-grey-0);
      margin-bottom: rem(3);
    }

    & > p {
      @extend %text;
      color: var(--color-grey-0);
    }
  }

  &-img {
    width: 100%;
    height: rem(200);
    object-fit: cover;
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
